!!!
%html
%head
	%title Dogitz
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
	= csrf_meta_tags
%body
	%nav
		.nav-wrapper
			- if user_signed_in?
				%a.brand-logo{:href => "/"} Dogitz
				%a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
					%i.fa.fa-bars
				%ul.right.hide-on-med-and-down
					%li
						%a{:href => "sass.html"} Sass
					%li
						%a{:href => "badges.html"} Components
					%li
						%a{:href => "collapsible.html"} Javascript
					%li
						%a{:href => "mobile.html"} Mobile
				%ul#mobile-demo.side-nav
					%li
						%a{:href => "sass.html"} Sass
					%li
						%a{:href => "badges.html"} Components
					%li
						%a{:href => "collapsible.html"} Javascript
					%li
						%a{:href => "mobile.html"} Mobile
			- else
				%a.brand-logo{:href => "/"} Dogitz
				%a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
					%i.fa.fa-bars
				%ul.right.hide-on-med-and-down
					%li
						%a{:href => "sass.html"} Sass
					%li
						%a{:href => "badges.html"} Components
					%li
						%a{:href => "collapsible.html"} Javascript
					%li
						%a{:href => "mobile.html"} Mobile
				%ul#mobile-demo.side-nav
					%li
						%a{:href => "sass.html"} Sass
					%li
						%a{:href => "badges.html"} Components
					%li
						%a{:href => "collapsible.html"} Javascript
					%li
						%a{:href => "mobile.html"} Mobile
	/ %p.notice= notice
	/ %p.alert= alert
	= yield